[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "networkDynamic"]
	path = networkDynamic
	url = https://github.com/cran/networkDynamic
	shallow = true
	registered = true
[submodule "networkDynamicData"]
	path = networkDynamicData
	url = https://github.com/cran/networkDynamicData
	shallow = true
	registered = true
